@import url('http://weloveiconfonts.com/api/?family=entypo');
body, #wrapper{
	background: #eee;
}

hr{
	border: red 1px solid; 
}
/* start navigation */
nav{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FE9A2E), to(#FE9A2E));
    background-image: -moz-linear-gradient(top center, #FE9A2E, #FE9A2E);
    background-image: -o-linear-gradient(top, #FE9A2E, #FE9A2E);
    background-image: linear-gradient(top, #FE9A2E, #FE9A2E);
    overflow:hidden;
    padding:10px;
    width:95%;
	margin: 0 auto;
	border: 1px red solid;

}


nav ul{
	list-style: none;
	margin:0 10px 0 10px;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

nav ul li{
	font-family:'Lato','PT Sans Narrow','Open Sans',Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-right:10px;
	text-shadow:0px 1px 0px #F7BE81;
}

nav ul li:hover{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c7471b), to(#c7471b));
	background-image: -moz-linear-gradient(top,center,#c7471b,#c7471b);
	background-image: -o-linear-gradient(top, #c7471b, #c7471b);
	background-image: linear-gradient(top, #c7471b, #c7471b);
}

nav ul li a{
		color: #FAF5F5;
	display:block;
	padding:20px;
	text-decoration:none;
	-webkit-transition: 0.4s linear all;
	-moz-transition: 0.4s linear all;
	-o-transition: 0.4s linear all;
	transition:0.4s linear all;
}
.navbar .navbar-default{
	border: 1px red solid;
}

nav ul li a:hover{
  color:#FFDD00;	
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #FFDD00;
}


/* end navigation */

/* start formularios*/
.sub{
	margin-bottom: 25px;
}

td{
	height: 180px;
	width: 150px;
	padding: 4px;
}

.container > td{
	padding-right: 20px;
	margin-right: 20px;
}

@media screen and (max-width: 480px){
	table, tr, tbody{
		display: block;

	}

	table{
		border: none;
		position: relative;
		padding-left: 40%;
		white-space: x	normal;
		text-align: left;
	}

	table:before{
		position: absolute;
		top:5px;
		left: 5px;
		padding-right: 10px;
		white-space: nowrap;
		text-align: left;
		
	}

}  
}

form{
	float: left;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
.flip-container, .front, .back {
	width: 131px;
	height: 129px;
	margin: 0 auto;
}

.back {
	transform: rotateY(180deg);
}

.front{
	background:url(../css/images/logo.png);

}

.front:hover{

}

.servicios{
	text-align: center;
}

.back > p{
	margin-top: -10px;
}
/*end formularios */

/*start contacto*/
#content{
	float: left;
}

#dir{
	margin: 0 auto;
	float: left;
	margin-left: 50px;
	margin-top: 45px;
}

#contact_image{
    width: 430px;
    height: 300px;
}

.image{

}
legend{
	background: #ffcb08;
}
.wrapper{
	border: 3px solid red;
	width: 95%;
	float: left;
	height: 370px;
	margin-left: 40px;
	margin-right: 40px;
	background: #ffcb08;
}

#content > .container{
	width: 400px;
}

/*end contacto*/
#iso{
	margin: 0 auto;
}

#contact{
	margin: 0 auto;
	padding: 40px;
}


/*footer*/
iframe{
	border: 1px red solid;
}

#map-container{
	width: 95%;
	height: 440px;
	padding: 0 ;
	margin: 0 auto;
	float: right;
	margin-bottom: 40px;
}

.subfooter{
	width: 100%;
}

.subfooter{
	color:#999;
	background: #1a1a1a;
	margin-top: 70px;
}

.table-responsive{
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#FE9A2E), to(#FE9A2E));
    background-image: -moz-linear-gradient(top center, #FE9A2E, #FE9A2E);
    background-image: -o-linear-gradient(top, #FE9A2E, #FE9A2E);
    background-image: linear-gradient(top, #FE9A2E, #FE9A2E);*/
    overflow:hidden;
    padding:10px;
    width:85%;
	margin: 0 auto;
	/*border: 1px red solid;*/
}

@media screen and (max-width: 720px){
	table, tr, tbody{
		display: block;
	}

	table{
		border: none;
		position: relative;
		white-space: normal;
		text-align: left;
	}

	table:before{
		position: absolute;
		top:5px;
		left: 5px;
		white-space: nowrap;
		
	}

}
table{
	margin-bottom: 0 !important;
	padding-bottom: 20px !important; 
	border-bottom: 20px !important;
}  

.table-bordered{
	padding: 0;
}

#link{
	margin: 0 auto;
	width: 190%;
	height: 190%;	
}

.container{
	padding: 0px;
}

.flipper{
	width: 130px;
	height: 150px;
}

/*+++++++++++++++++++++++++++++++++++++*/
@import url('http://weloveiconfonts.com/api/?family=entypo');

.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  line-height: 50px;
  font-family: Entypo;
  font-size: 28px;
  text-align: center;
  color: #555;
  border-radius: 10px;
  background: #eee;
  overflow: hidden;
  cursor: pointer;
}

.container2{
	margin: 0 auto;
}
.social {
	border: 1px red solid;
 }

 tr{
 	border: 1px red solid;
 }

/*+++++++++Social++++++++++++++*/
.social{
	margin-bottom: 20px;

} 

/*++++++++++++++++++++++++++++++++++*/
#values{
	margin: 0 auto;
}

#value{
	border: 1px red solid;
	margin: 0 auto;
	margin-right: 20px;
}

.slide{
	background: url(css\images\oficinas.jpg);
}

.carousel-inner{
	margin-bottom: 20px;
}